{% extends 'app/header.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">

    <div class="login-box">
        <h2>Welcome Back</h2>
        <p>Login to access your SecureBridge Bank account</p>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Username</label>
                {{ form.username }}
            </div>

            <div class="mb-4">
                <label class="form-label">Password</label>
                {{ form.password }}
            </div>

            <button type="submit" class="btn btn-primary w-100">
                Login
            </button>
    

            <a href="{% url 'signup' %}" class="text-decoration-none d-block text-center mt-3">
                Don't have an account? <strong>Sign Up</strong></a>
        </form>
    </div>
</div>
<link rel="stylesheet" href="{% static 'js/login.js' %}">
{% endblock %}